<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.abhsinh2.plugin.scp.command.copy"
            name="Copy">
         <defaultHandler
               class="com.abhsinh2.plugin.scp.handlers.CopyHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="com.abhsinh2.plugin.scp.menu"
               label="SCP">
            <command
                  commandId="com.abhsinh2.plugin.scp.command.copy"
                  label="Copy"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.abhsinh2.plugin.scp"
            name="abhsinh2">
      </category>
      <view
            category="com.abhsinh2.plugin.scp"
            class="com.abhsinh2.plugin.scp.view.SCPView"
            id="com.abhsinh2.plugin.scp.SCPView"
            name="SCP"
            restorable="true">
      </view>
   </extension>


</plugin>
