<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.abhsinh2.scpplugin.ui.command.copy"
            name="Copy">
         <defaultHandler
               class="com.abhsinh2.scpplugin.ui.handlers.OpenLocationWizardHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="com.abhsinh2.scpplugin.ui.menu"
               label="SCP">
            <command
                  commandId="com.abhsinh2.scpplugin.ui.command.copy"
                  label="Copy"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IResource">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.IJavaElement">
                              </instanceof>
                           </or>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.abhsinh2.scpplugin.ui"
            name="abhsinh2">
      </category>
      <view
            category="com.abhsinh2.scpplugin.ui"
            class="com.abhsinh2.scpplugin.ui.view.LocationView"
            id="com.abhsinh2.scpplugin.ui.SCPView"
            name="SCP"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.abhsinh2.scpplugin.ui"
            name="Location"/>
      <wizard
            class="com.abhsinh2.scpplugin.ui.wizard.SelectLocationWizard"
            id="com.abhsinh2.scpplugin.ui.selectLocationWizard"
            name="Select Location"/>
   </extension>
</plugin>
